@using Infragistics.Web.Mvc
@model IQueryable<OCTA_Projet_Gestion_Commerciale.Web.ViewModels.DossierViewModel>

@{
    ViewBag.Title = "Liste des dossiers";
    //Layout = "";
}


<link href="~/Content/Infragistics/css/themes/infragistics/infragistics.theme.css" rel="stylesheet" type="text/css" />
<link href="~/Content/Infragistics/css/structure/infragistics.css" rel="stylesheet" type="text/css" />
<script src="/Scripts/jquery-3.0.0.js" type="text/javascript"></script>
<script src="/Scripts/jquery-3.0.0.min.js" type="text/javascript"></script>

<script src="/Scripts/jquery-ui-1.12.0.js" type="text/javascript"></script>
<script src="~/Scripts/Infragistics/js/infragistics.core.js" type="text/javascript"></script>

<script src="~/Scripts/Infragistics/js/infragistics.lob.js" type="text/javascript"></script>
<link href="~/Content/bootstrap.min.css" rel="stylesheet" />

@*<h3 class="panel-title"><strong>@ViewBag.Title</strong></h3>
<br /><br /><br />
<div class="col-md-2 col-md-offset-10">
    <button class="btn btn-primary btn-block" type="button" onclick="window.location.href='@Url.Action("Create")'">Nouvelle dossiers</button>
</div>
<br /><br /><br />*@




<div class="grilleIgnite">
    @(Html.Infragistics()
                                                                     .Grid<OCTA_Projet_Gestion_Commerciale.Web.ViewModels.DossierViewModel>(Model)
                                                                     .ID("listGridDossier")
                                                                     .AutoGenerateColumns(false)
                                                                     .AutoGenerateLayouts(false)
                                                                     .RenderCheckboxes(true)
                                                                     .AutoCommit(true)
                                                                     .Columns(column =>
                                                                     {


                                                                         column.For(x => x.DossierId).Hidden(true);
                                                                         column.For(x => x.CodeDossier).HeaderText("Code").Width("20%").Template("<a href='" + @Url.Action("Create", "Dossiers") + "/${DossierId}\' \">${CodeDossier}</a>");
                                                                         column.For(x => x.DossierRaisonSociale).HeaderText("Raison social").Width("30%");
                                                                         column.For(x => x.DossierTel).HeaderText("Tel").Width("20%");
                                                                         column.For(x => x.DossierIdentifiantFiscale).HeaderText("Identifiant fiscal").Width("20%");
                                                                         column.For(x => x.DossierIdentifiantTVA).HeaderText("Identifiant Tva").Width("20%");
                                                                         column.For(x => x.DossierActif).HeaderText("Actif").FormatterFunction("lookupActif").Width("10%");
                                                                         //column.Unbound("UnBound").Template("<a href='/Dossiers/Edit/${DossierId}'>Edit</a>").Width("20%").HeaderText("Edit");


                                                                     })
                                                                     .Features(feature =>
                                                                     {
                                                                         feature.Updating().EnableAddRow(false).EnableDeleteRow(false).EditMode(GridEditMode.None);

                                                                         feature.Filtering().Mode(FilterMode.Simple).Type(OpType.Local);
                                                                         feature.Sorting();
                                                                         feature.Resizing();
                                                                         feature.ColumnMoving();
                                                                         feature.Paging().PageSize(10);

                                                                     })
                                                                     .PrimaryKey("Id")
                                                                     .DataBind()
                                                                     .Width("100%")
                                                                     .Render()
    )


 
    
    <script type="text/javascript">
        var gridDossiers = $('#listGridDossier');
        


        function lookupActif(id, record) {

            if (record.DossierActif) {
                return 'Oui';

            }
            else {
                return 'Non';

            }
            return '';
        }

        gridDossiers.on("iggridrendered", function (e, ui) {
        });

        $(document).ready(function () {
            var messageErreur = "@(new MvcHtmlString((string)ViewBag.Message))";
            if (messageErreur != "") {
                alert(messageErreur);

            }
        });


    </script>









</div>


